<nav class="navbar navbar-expand-lg fixed-top">
	<div class="container-fluid">
		<!--logo-->
		<div class="logo">
			<NavLink href="/">
				<img src="/assets/img/logo-dark.png" alt="نانپوست" class="logo-dark">
				<img src="/assets/img/logo-white.png" alt="نانپوست" class="logo-white">
			</NavLink>
		</div>
		<!--/-->
		<!--navbar-collapse-->
		<div class="collapse navbar-collapse" id="main_nav">
			<ul class="navbar-nav ml-auto mr-auto">

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="javascript:void(0)"
					   data-toggle="dropdown">دسته&zwnj;بندی&zwnj;ها</a>
					<ul class="dropdown-menu fade-up">
						@* @foreach (var category in categories)
						{
						<li>
						<a class="dropdown-item"
						asp-controller="Article"
						asp-action="Category"
						asp-route-categoryCId="@category.CId"
						asp-route-categoryTitle="@category.Title.Replace(" ", "-")"> @category.Title </a>
						</li>
						} *@
					</ul>
				</li>
				
				<AuthorizeView>
					<Authorized>
						<li class="nav-item">
							<NavLink href="#" class="nav-link user-panel d-flex align-items-center">
								<div>
									<img src="/images/users/thumb-sm/@context.User.FindFirst("ImageName")?.Value"
										 alt="@context.User.FindFirst("DisplayName")?.Value" />
								</div>
								<span>@context.User.FindFirst("DisplayName")?.Value</span>
							</NavLink>
						</li>
						<li class="nav-item">
								<button type="button" class="nav-link nav-button"> خروج </button>
						</li>
					</Authorized>
					<NotAuthorized>
						<li class="nav-item">
							<NavLink href="/register" class="nav-link"> ثبت نام </NavLink>
						</li>
						<li class="nav-item">
							<NavLink href="/login" class="nav-link"> ورود</NavLink>
						</li>
					</NotAuthorized>
				</AuthorizeView>

			</ul>
		</div>
		<!--/-->
		<!--navbar-right-->
		<div class="navbar-right ml-auto">
			<div class="theme-switch-wrapper">
				<label class="theme-switch" for="checkbox">
					<input type="checkbox" id="checkbox" @onchange="SwitchTheme" />
					<div class="slider round"></div>
				</label>
			</div>

			<div class="search-icon" @onclick="OpenSearch">
				<i class="icon_search"></i>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>
</nav>

@code {

	[Inject] public IJSRuntime Js { get; set; } = null!;

	private void SwitchTheme(ChangeEventArgs args)
	{
		Js.InvokeVoidAsync("switchTheme", (bool)args.Value!);
	}

	private void OpenSearch()
	{
		Js.InvokeVoidAsync("openSearch");
	}
}
